:root {
    --brand-color: #212121; 
}  
body {
    color: var(--brand-color); 
    background-color: #E5E5E5;
    font-family: 'Roboto', 'Raleway', sans-serif;
}
.logo {
    color: rgba(0, 0, 0, 1);
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1,19;
    text-decoration: none;
}
.logo .logo-firstpart {
    color: rgba(33, 150, 243, 1);
}
.nav-links .link {
    color: rgba(33, 33, 33, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.title {
    color: rgba(255, 255, 255, 1);
}
.contact-links .link {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.link:hover, .link:focus  {
    color: rgba(33, 150, 243, 1) ;
}
.link {
    text-decoration: none;
}